<ion-header>
    <ion-toolbar>
    	<ion-buttons slot="start">
	      <ion-back-button defaultHref="/app/tabs/tab1/result/1"></ion-back-button>
	    </ion-buttons>
        <ion-title>
            Element
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Element</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="success">Good</ion-card-subtitle>
          <ion-card-title>Water</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="success">Good</ion-card-subtitle>
          <ion-card-title>Metal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="danger">Not Good</ion-card-subtitle>
          <ion-card-title>Fire</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="danger">Not Good</ion-card-subtitle>
          <ion-card-title>Wood</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="success">Good</ion-card-subtitle>
          <ion-card-title>Earth</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
</ion-content>