<ion-header>
    <ion-toolbar>
        <ion-title>
            Information
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Information</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select value="female">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Full Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Date of Birth</ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
        <section>
          <ion-button color="warning" expand="block" (click)="navigate(11)" >See Your Destiny</ion-button>
        </section>
    </ion-list>
    
     
      
</ion-content>